
body {
	margin: 0;
	padding: 0;
	
	font-family: Helvetica, sans-serif;
	font-size: 62.5%;
	color: #333;
}

h1, h2, p, ul, li {
	margin: 0;
	padding: 0;
}

p {
	font-size: 1.4em;
	line-height: 1.4em;
}

ul {
	list-style-type: none;
}

a:link, a:visited {
	color: #333;
	background: #eee;
}

#masthead {
	margin: 0 auto;
	margin-top: 20px;
	width: 800px;
	color: #fff;
}

#masthead h1 {
	float: left;
}

#nav {
	margin: 0px 10px 0 0;
	font-size: 2em;
	padding: 10px;
	background: #044375;
}

#nav li {
	display: inline;
	margin: 0 0 0 20px;
}

#nav li a {
	color: #FFF;
	text-decoration: none;
	background: none;
}

#wrap {
	clear: both;
	margin: 0 auto;
	padding: 10px;
	width: 780px;
	background: #fff;
	border: 10px solid #033761;
}

#header img {
	border: 10px solid #ccc;
}


#content, #sidebar {
	width: 360px;
	height: 300px;
	margin: 20px 0 20px 0;
	padding: 10px;
}

#content {
	float: right;
}

#content h2 {
	font-size: 4em;
	margin: 0 0 10px 0;
	color: #000;
}

#content h3 {
	font-size: 1.4em;
	margin: 0 0 10px 0;
	color: #000;
}

#sidebar {
	float: left;
	background: #eee;
}

#sidebar h2 {
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	margin: 0 0 20px 0;
	padding: 5px;
}

#port li {
	margin: 0 10px 20px 0;
	float: left;
	display: inline;
	border: 5px solid #ddd;
}

#portA li {
	margin: 0 10px 20px 0;
	font-size: 1.4em;
	border: 5px ;
}

#portB li {
	display: inline;
	margin: 0 10px 20px 0;
	font-size: 1.4em;
	border: 5px ;
	font-family: sans-serif;
}

#Profile {
	height: 240px;
}

#Experience{
	height: 240px;
}

#Education{
	height: 100px;
}


#comeToDie {
	height: 320px;
}

#ID {
	height: 340px;
}

#XML {
	height: 345px;
}

.sidebar {
	width: 750px;
	height: 200px;
	margin: 20px 0 20px 0;
	padding: 10px;
	background: #eee;
}

.sidebar h2 {
	font-weight: bold;
	font-size: 2em;
	border-bottom: 1px solid #ccc;
	margin: 0 0 20px 0;
	padding: 5px;
}

.sidebar h3 {
	font-size: 1.6em;
}

.sidebar li {
	font-size: 1.2em;
}


#footer {
	clear: both;
	background: #eee;
	padding: 10px;
	border-top: 2px solid #ddd;
	text-align: center;
	color: #777;
}
